# Dependencies
node_modules/

# Environment variables
.env
.env.example

# System Files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!terraform/terraform.tfvars
!terraform/terraform.tfvars.example
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDEs
.vscode/
.idea/
